---
import Text from "@/components/fundations/elements/Text.astro";
---

<div style="display: flex">
    <span style="text-transform: uppercase;font-size: 1.2rem;font-weight:700;">HOCGIN</span>
    <span style="color:#f1423c">.</span>
    <span style="font-size: 0.75rem;align-items: center;display: flex;">top</span>
</div>
