---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<footer>
  <Wrapper class="py-8">
    <div class="max-w-2xl mx-auto text-center">
      <Text tag="p" variant="textSM" class="text-muted-foreground">
          © 2013-2026
          <a
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-foreground hover:text-muted-foreground"
                  href="https://beian.miit.gov.cn/"
          >
              闽ICP备20004537号
          </a>
      </Text>

    </div>
  </Wrapper>
</footer>
